

* {
	box-sizing: border-box;
	}


	html {
		margin:0;
		padding: 0;
		font-family: serif;
		font-size: 62.5%; /* equivalente a 10px */
	}
	
	html {
		margin: 0;
		padding: 0;
		font-family: serif;
		font-size: 62.5%;
	}

	.background {
		background-color: rgb(253, 253, 253);
		background-image: url(../imagens/pattern2.png);
		width: 100%;
		height: 25vh;
	}
	
	.cabecalho{
		background-color: #707599;
		padding: 1px;
		   text-align: center;
	}
	
	.titulo-cabecalho{
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		color:rgb(60, 60, 60);
	}
	
	.navegacao{
		float: left;
		width: 20%;
		padding: 20px;
		padding: 1px;
		
	}
	
	.nav-1{
		list-style-type: none;
	}
	
	.navegacao-titulo{
		font-size: 1.8rem;
		font-family: 'Roboto', sans-serif;
		color:rgb(60, 60, 60);
	}
	
	.navegacao-1{
		font-family: 'Roboto', sans-serif;
		color: #66F;
		height: 3rem;
		text-decoration: none;
		font-size: 1.6rem; 
		width: 100%;
		padding: 0;
		display: table;
	}
		
	form div {
		border: 3px;
		margin: 2rem 1rem; 
	}

	
	[type="text"], [type="email"], textarea, label {
		display: block;
		width: 100%;
	
	}

	
	.art {
		float: left;
		padding: 20px;
		width: 70%;
	}
	
	.titulo-art{
		font-size: 1.6rem; 
		width: 100%;
		font-family: Arial, Helvetica, sans-serif;
		color:rgb(60, 60, 60);
	}

	.div-nome{
		margin-bottom: 1px;
		font-size: 1.4rem;
		font-family: sans-serif;
		font-weight: bold;
		color: #66f;
	}
	
	.div-email{
		margin-bottom: 1px;
		font-size: 1.4rem;
		font-family: sans-serif;
		font-weight: bold;
		color: #66f;
	}

	.horario {
		margin-bottom: 1px;
		font-size: 1.4rem;
		font-family: sans-serif;
		font-weight: bold;
		color: #66f;
	}
	
	section:after {
		  background: #3d6999;
		 content: "";
		 display: table;
		 clear: both;
	}

	input {
		padding: 10px;
	}
	
	.local{
		margin-bottom: 2rem;
		font-size: 1.4rem;
		font-family: sans-serif;
		font-weight: bold;
		color: #66f;
	}
	
	.end-local{
		font-size: 1.6rem;
		width: 100%;
		font-family: Arial, Helvetica, sans-serif;
		color:rgb(60, 60, 60);	
	}

	div img {
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 60%;
	}

	
	/* 
		top(cima)
		bottom(baixo)
		left(esquerda)
		right(direita)
	*/
	
	form div {
		margin-top: 3px;
	}

	.rodape {
		background-color: #eb9499;
		padding: 10px;
		text-align: center;
	}
	
	.titulo-rodape{
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		color:rgb(60, 60, 60);
	}
	


